html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

h1 {
  color: green;
}

img,
video {
  max-width: 100%; /* Esto hace que el ancho de las imagenes sea de toda la pantalla y no sea mas grande.*/
  height: auto; /* Para que no se deforme la imagen, la altura sera automatica dependiendo del ancho. */
}

iframe {
  width: 80%;
  height: 400px;
}
